.footer{
	background-color: var(--color--tertiary);
	padding: 35px 0px;
}

.footer_content{
	text-align: center;
}

.footer_logo a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image{
	width: 230px;
	object-fit: contain;
}